<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soho.codegen.dao.ZipMessageDAO">
    
    <resultMap id="BaseResultMap" type="com.soho.codegen.domain.ZipMessage">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="userId" jdbcType="BIGINT" property="userId" />
        <result column="dburl" jdbcType="VARCHAR" property="dburl" />
        <result column="tables" jdbcType="VARCHAR" property="tables" />
        <result column="filePath" jdbcType="VARCHAR" property="filePath" />
        <result column="fileName" jdbcType="VARCHAR" property="fileName" />
        <result column="fileSize" jdbcType="BIGINT" property="fileSize" />
        <result column="ctime" jdbcType="BIGINT" property="ctime" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, userId, dburl, tables, filePath, fileName, fileSize, ctime
    </sql>
    
    <insert id="insert" parameterType="com.soho.codegen.domain.ZipMessage">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into zip_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="dburl != null">
                dburl,
            </if>
            <if test="tables != null">
                tables,
            </if>
            <if test="filePath != null">
                filePath,
            </if>
            <if test="fileName != null">
                fileName,
            </if>
            <if test="fileSize != null">
                fileSize,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="dburl != null">
                #{dburl,jdbcType=VARCHAR},
            </if>
            <if test="tables != null">
                #{tables,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=BIGINT},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.soho.codegen.domain.ZipMessage">
        update zip_message
        <set>
            <if test="userId != null">
                userId = #{userId,jdbcType=BIGINT},
            </if>
            <if test="dburl != null">
                dburl = #{dburl,jdbcType=VARCHAR},
            </if>
            <if test="tables != null">
                tables = #{tables,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                filePath = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                fileName = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                fileSize = #{fileSize,jdbcType=BIGINT},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long">
        delete from zip_message
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <select id="countByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultType="java.lang.Integer">
        select count(1) 
        from zip_message
        <include refid="Global.Where_Clause" />
    </select>
    
    <select id="findByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultMap="BaseResultMap">
        select 
        <include refid="Global.Field_Clause" />
        from zip_message
        <include refid="Global.Where_Clause" />
    </select>
    
    <delete id="deleteByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd">
        delete from zip_message
        <include refid="Global.Where_Clause" />
    </delete>
    
    <update id="updateByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd">
        update zip_message
        <set>
            <if test="updateObj.userId != null">
                userId = #{updateObj.userId,jdbcType=BIGINT},
            </if>
            <if test="updateObj.dburl != null">
                dburl = #{updateObj.dburl,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.tables != null">
                tables = #{updateObj.tables,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.filePath != null">
                filePath = #{updateObj.filePath,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.fileName != null">
                fileName = #{updateObj.fileName,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.fileSize != null">
                fileSize = #{updateObj.fileSize,jdbcType=BIGINT},
            </if>
            <if test="updateObj.ctime != null">
                ctime = #{updateObj.ctime,jdbcType=BIGINT},
            </if>
        </set>
        <include refid="Global.Where_Clause" />
    </update>
</mapper>